<p id="notice"><%= notice %></p>

<p>
  <b>Rank:</b>
  <%= @ranking.rank %>
</p>

<p>
  <b>Content provider:</b>
  <%= @ranking.content_provider_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @ranking.organization_id %>
</p>

<p>
  <b>Keyword:</b>
  <%= @ranking.keyword_id %>
</p>

